body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#fdfeff, #ffffff);
}

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2 {
  font-weight: bold;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.register-box .user-box {
  position: relative;
}

.register-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.register-box .user-box label {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.register-box .user-box input:focus ~ label,
.register-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.register-box button {
  justify-content: center;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(15, 21, 29, 0.5);
  color: #03e9f4;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 0;
  outline: 0;
}
.register-box a {
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(15, 21, 29, 0.5);
  color: #03e9f4;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 0;
  outline: 0;
}
.register-box button:hover {
  justify-content: center;
  border-radius: 30px;
  background: #03e9f4;
  background: rgba(15, 21, 29, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #9ee2e6;
}
.register-box a:hover {
  border-radius: 30px;
  background: #03e9f4;
  background: rgba(15, 21, 29, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #9ee2e6;
}
